body{
/* background: no-repeat; */
background-size:cover;
background-image: url("beso.jpg");

}

h1 {
 color: green;
 background-color: inherit;
 /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  */
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 
 
}

form{
width: 90%;
height: 90%;
/* background-color: aqua; */
display: flex;
flex-direction: column;

}
input{
    width: 50%;
    height:3rem;
    /* height: 30px; */
    margin: 0px 0px 0px 0px;
    display: block;

}
#boton{
    margin: 0px 10px 10px 10px;
    background-color: darkgrey;
    background-color: green;
    
    
    

}
   span{
    transition: 1s;
}   
/* #identificador  */



.active{
    background-color: red;
    color: yellow;
    transition: 1s;
}

/* .msg-error:active{
    background-color: red;
    color: yellow;

} */